<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PusherDataLogging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PusherDataLogging.Properties.Settings.ConnectionString"
            connectionString="mongodb://localhost" />
    </connectionStrings>
    <applicationSettings>
        <PusherDataLogging.Properties.Settings>
            <setting name="DataBaseName" serializeAs="String">
                <value>ftipusherlog</value>
            </setting>
        </PusherDataLogging.Properties.Settings>
    </applicationSettings>
</configuration>