<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true">

  <variable name="appName" value="FTIPusherService" />
  <targets>
    <!--xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard"-->
    <target name="file" xsi:type="file" 
            layout="## ${threadid} ## ${longdate} ${logger} ${message} ${exception:format=tostring}" 
            fileName="${specialfolder:ApplicationData}/${appName}/${shortdate}.txt" 
            archiveFileName="${specialfolder:ApplicationData}/${appName}/archives/log.{#}.txt" 
            archiveEvery="Day" 
            archiveNumbering="Rolling" 
            maxArchiveFiles="7" 
            concurrentWrites="true" 
            keepFileOpen="false" 
            encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>